/* main */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Italiana&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size-h1: clamp(3.5rem, 12vw + 1rem, 8rem);
  --font-size-h2: 2em;
  --bg-color-one: #EEEDED; 
  --border-left-color: #FFB002; 
  --bg-color-two: #242D34;
  --bg-color-three: #FFB002;
  --bg-color-four: #404678;
  --bg-color-four-faded: rgba(64,70,120, 0.8);
  --paragraph-font-size: 1rem;
  --font-size-blockquote-p: 0.9rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.50rem;
  --font-size-strong: 0.9rem;
  --font-size-files: 0.8rem;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  opacity: 0;
  text-decoration: none;
  color: var(--bg-color-one);
  font-family: "Cinzel"; 
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  background-color: var(--bg-color-four);
}

header .link-github  {
  display: block;
  border: 4px solid transparent;
  text-align: center;
  background-color: var(--bg-color-three);
  text-decoration: none;
  border-radius: 30px;
  margin-top: 30px;
  color: var(--bg-color-two);
}

.link-github:hover {
  border: 4px solid var(--bg-color-two);
  background: var(--bg-color-one);
  color: var(--bg-color-two);
  transition: all 300ms ease-in-out;
  border-radius: 30px;
}


header  {
    display: grid;
    background-image: url("../img/background.jpg");
    background-size: cover;
    min-height: 40vh;
    background-repeat: no-repeat; 
}

header .container {
  max-width: 35em;
  margin: 3em auto;
  padding: 2.5rem;
  background-color: var(--bg-color-one);
  border-left: .5em solid var(--border-left-color);
  border-radius: 1em;
}

body {
  margin: 0;
  line-height: 2;
  min-height: 100vh;
  font-family: "Cinzel";
  background-color: var(--bg-color-one);
  color: var(--bg-color-two);
  font-size: 100%;
}

 .link-github svg {
  width: 1em;
}

.link-github svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}


.container {
  margin: 8vh auto;
  padding-left: 20px;
  padding-right: 15px;
}

header h1 {
  font-family: "Italiana";
  font-size: var(--font-size-h1);
  letter-spacing: 20px;
  font-weight: bolder;
  color: var(--bg-color-two);
  
}


nav {
  display: block;
  background: linear-gradient(30deg, var(--bg-color-four), var(--bg-color-two) );
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .7);
}


header h2 {
  font-size: var(--font-size-h2);
  text-align: left;
  font-family: "Italiana";
  color: var(--bg-color-two);
}

 #main h2 {
  font-size: var(--font-size-h2);
}


#main h3 {
  font-size: var(--font-size-h4);
  font-family: "Italiana";
  color: var((--bg-color-two));
}

.profile h4 {
  font-size: var(--font-size-h3);
  font-family: "Italiana";
  color: var(--bg-color-two);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 20px;
  list-style: none;
}

 li {
  display: list-item;
}

nav ul a {
  display: inline-grid;
    padding: 0.5rem;
    letter-spacing: 2.5px;
    color: var(--bg-color-one);
    font-size: 1em;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul a::after {
  width: 100%;
  height: 3px;
  opacity: 0;
  content: '';
  position: absolute;
  bottom: .80px;
  transition: all 300ms  ease-in-out 0s;
}

nav ul li:hover a:after {
  background-color: var(--bg-color-one);
  border-bottom: .5px solid var(--bg-color-one);
  opacity: 3;
}



:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a:not([class]) {
  text-underline-offset: 0.25em;
}

header p {
  font-size: var(--paragraph-font-size);
  color: var(--bg-color-two);
}

:where(ul, ol) {
  list-style-position: inside;
}

#about, #guidelines, #contribute, #files  {
  color: var(--bg-color-two); 
}

#main h2, h3, h4 {
  border-left: .2em solid var(--bg-color-four);
  padding-left: 15px;
  letter-spacing: 3px;
}

#main {
  display: block;
}

article, #styles {
  padding: 1rem;
}
#about, #guidelines, #contribute .container, #files .container, aside.profile, #styles .container {
  max-width: 1440px;
  margin: 0 auto;
}

article .container {
  width: 100%;
}

p, li {
  max-width: 80ch;
}

blockquote {
  background: linear-gradient(30deg, var(--bg-color-four), var(--bg-color-two) );
  color: var(--bg-color-one);
  font-size: var(--font-size-blockquote-p);
  padding: 1em;
  place-items: center;
  margin: 2em 0;
  position: relative;
  display: block;
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, .7);
}

blockquote p {
  position: relative;
  margin-bottom: 0;
  padding: 0.5em;
}

blockquote > * {
  grid-area: blockquote;
}

blockquote a {
  color: var(--bg-color-one);
}

blockquote strong {
  position: absolute;
  top: -3em;
  left: 20px;
  font-size: var(--font-size-strong);
  padding: 0.2em 0.5em;
  background-color: var(--bg-color-three);
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, .7);
  opacity: 1;
  color: var(--bg-color-two);
}

#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

#about section:nth-child(2) ul li {
  margin: 1em;
  padding: 0.3em 0.5em;
  background-color: var(--bg-color-one);
  font-size: var(--font-size-blockquote-p);
  position: relative;
  align-items: center;
  border: 5px solid transparent;
  border-image: url("../img/background.jpg") 15 stretch;
  cursor: default;
  transition: 300ms ease-in-out;
}

#about section:nth-child(2) ul li:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 8px var(--bg-color-two); 
}

a {
  color: var(--bg-color-two)
}

.link-guidelines {
  background: linear-gradient(30deg, var(--bg-color-four), var(--bg-color-two));
  color: var(--bg-color-one);
  box-shadow: 0px 0px 8px var(--bg-color-two);
  border-radius: 10px;
  text-decoration: none;
  padding: 0.3em 0.5em;
  font-size: var(--font-size-blockquote-p);
}

.link-guidelines:hover {
  border: 4px solid var(--bg-color-two);
  background: var(--bg-color-one);
  color: var(--bg-color-two);
  transition: all 300ms ease-out;
  border-radius: 10px;
}

#contribute .container {
  padding-bottom: 1.7em;
}


#contribute section ol {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  position: relative;
  counter-reset: section;
}
#contribute section ol::before {
  min-width: 171.5%;
  height: 2.5px;
  background-color: var(--bg-color-four);
  position: absolute;
  top: 3.5em;
  z-index: 0;
  content: ''; 
  left: -50em;
  list-style: decimal;
}




#contribute section li::before {
  counter-increment: section;
  content: counter(section);
  display: flex;
  text-align: center;
  margin: 0 auto 1em auto;
  font-size: var(--font-size-h4);
  color: var(--bg-color-one);
  background: var(--bg-color-four);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}



#contribute section li {
  display: block;
  flex: 1;
  z-index: 1;
  padding: 1em;
  margin: 1em;
}

#files {
  background: linear-gradient(30deg, var(--bg-color-four), var(--bg-color-two));
  margin-top: 1em;
}

#files h3 {
  position: absolute;
  top: -2em;
  left: 5rem;
  color: var(--bg-color-two);
  font-size: var(--font-size-h4);
  padding: 0.4em 0.7em;
  background-color: var(--bg-color-three);
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, .7);
  opacity: 1;
  border-left: none;
}

#files .container {
  padding: 3em 5em;
  position: relative;
}

#files .container a {
  margin-right: 1em;
}


#files a {
  color: var(--bg-color-one);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--font-size-files);
}




.link-downloadcss {
  background-color: transparent;
  background-image: url("../img/HTML\ File\ Icon.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0.5em center;
  padding-left: 2em;
}

.link-downloadhtml {
  background-color: transparent;
  background-image: url("../img/HTML\ File\ Icon.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0.5em center;
  padding-left: 2em;
}

.link-codepen {
  background-color: transparent;
  background-image: url("../img/Link\ icon.svg");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0.5em center;
  padding-left: 2em;
}

.profile ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.profile a {
  text-decoration: none;
}

.profile ul li {
  display: flex;
  padding: 0 1em 
}

.profile .profile-author {
  border-right: 2px solid var(--bg-color-four);
}

.profile .profile-title {
  padding-left: 0px;
  border-right: 2px solid var(--bg-color-four);
}

.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.5em;
}

.profile .profile-twitter {
  border-right: 2px solid var(--bg-color-four);
}

.profile .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 4em;
}
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  text-align: center;
  text-decoration: none;
  min-height: 2em;
  border: 2px solid var(--bg-color-four);
}

.profile .container > a:hover {
  background-color: var(--bg-color-four);
  color: var(--bg-color-one);
  transition: 300ms all ease-in-out;

}

.profile h4 {
  margin: 0 0 0.5em 0;
  color: var(--bg-color-two);
  text-align: left;
  border-left: 4px solid var(--bg-color-four);
  font-size: var(--font-size-h3);
  padding: 0.25em 0.5em;
  width: 100%;
  margin-left: 20px;
}

#styles {
  margin: 5vh 0 10vh;
  text-align: center;
}

article, #styles {
  padding: 1rem;
}

aside {
  display: block;
}

.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: 1em solid var(--bg-color-one);
}

.features li > span a {
  color: inherit;
  font-size: 1.5rem;
  text-decoration: none;
}

.features li > span {
  display: grid;
  place-content: center;
  grid-gap: 0.5rem;
  background-color: var(--bg-color-four-faded);
  line-height: 1.1;
  transition: 300ms all ease-in-out;
  margin: 1.5em;
}

.features li > span:hover {
  background-color: var(--bg-color-four);
  transition: 300ms all ease-in-out;
}

.features li {
  display: grid;
  position: relative;
  place-content: stretch;
  min-height: 12rem;
  padding: 1rem;
  color: var(--bg-color-one);
  text-align: center;
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer ul, .features {
  display: grid;
  margin: 0;
  padding: 0;
  grid-gap: 0em;
  list-style: none;
}

footer {
  display: block;
}

@media (min-width: 1100px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6rem;
  }
}

@media (max-width: 768px) {
  #contribute section ol {
    flex-direction: column;
  }

  #contribute section li {
    position: relative;
  }

  #contribute section li::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--bg-color-four);
    content: '';
    top: 2em;
    left: 0;
    z-index: -1;
  }

  
  #contribute section ol::before {
    width:0;
    height:0;
  }
  #contribute  {
    margin-left: -1rem;
  }

  .profile .container>a {
    margin-left: 0;
    width: 100%;
}
#styles {
  padding: 2rem;
  margin: 5vh 0 5vh;
}
.features li>span a::before {
  border-left: 0;
  border-right: 0;
  border-top: 0.5em solid var(--bg-color-one);
  border-bottom: 0.5em solid var(--bg-color-one);
}

.features li > span {
  margin: 2em;
  margin-left: 0.2em;
}

}

@media (max-width: 1010px) {
  #files .container {
    padding-left: 2em;
    padding-right: 2em;
}

.aside.profile {
  margin: 1rem 2rem;
  padding: 0;
}

.profile .container {
  padding: 1em 0;
}
.profile ul {
  flex-direction: column;
}

.profile ul li {
  padding: 0;
  margin-left: 20px;
}
.profile .profile-title, .profile .profile-author, .profile .profile-twitter {
  border-right: none;
  border-left: none;
}

.profile .container > a {
  margin-left: auto;
}



}

